@mixin article-formatting() {
    /****************************article-formatting****************************/
    .main-fluid {
        box-shadow: 0 -4px 6px 0 hsla(0, 0%, 0%, 0.2);
        background-color: white;
    }
    .grid-container {
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 10vh;
        background-color: white;
    }
    .grid-block {
        padding: 1.4rem 1.4rem 0;
    }
    .home .block-container {
        margin: .5rem 0;
    }
    .block-content { 
        position: relative;
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
        border-radius: 0px;
        overflow: hidden;
        opacity: 0;
        box-shadow: 3px 3px 8px rgba(70, 70, 70, 1);
        transition: top 1.2s, opacity 1s;
    }
    .block-header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
    }
    .block-header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        font-family: 'Martel', serif;
        font-size: 2rem;
        color: white;
        text-align: center;
    }
    .block1 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 5;
    }
    .block1 .block-content {
        background-image: url("pics/rogue-beer-button.jpg");
    }
    .block1 .block-header {
        background-color: #fefe35db;
    }
    .block2 {
        grid-column: 1 / span 4;
        grid-row: 6 / span 5;
    }
    .block2 .block-content {
        background-image: url("pics/historic-pier-button.jpg");
    }
    .block2 .block-header {
        background-color: #f0493fdb;
    }
    .block3 {
        grid-column: 1 / span 4;
        grid-row: 11 / span 5;
    }
    .block3 .block-content {
        background-image: url("pics/pier-night-button.jpg");
    }
    .block3 .block-header {
        background-color: #1e469aba;
    }
    .block4 {
        grid-column: 1 / span 4;
        grid-row: 16 / span 5;
    }
    .block4 .block-content {
        background-image: url("pics/suites-button.jpg");
    }
    .block4 .block-header {
        background-color: #009688db;
    }
    .article-container {
        position: relative;
        width: 100%;
        padding: 1rem 2rem;
        background-color: white;
        text-align: center;
    }
    .logo-container {
        display: inline-block;
        margin: 1rem;
        text-align: center;
        .logo-img {
            height: 300px;
            width: 300px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        h3 {
            display: inline-block;
            font-size: 1.5rem;
            overflow-wrap: break-word;
            padding: .5rem 0;
        }

    }
    .block-container>* {
        position: relative;
        top: 30px;
        margin: 2rem 1rem;
        opacity: 0;
        transition: top 1.2s, opacity 1s;
    }
    .block-container {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        vertical-align: top;
    }
    .fade-up {
        top: 0;
        opacity: 1;
    }
    .block {
        font-size: 1.4rem;
        line-height: 1.3;
        color: #433d3d;
    }
    .block-title {
        font-size: 2.3rem;
        font-family: 'Martel', serif;
    }
    .article-container hr {
        width: 35%;
        border-width: 0px;
        border-top-width: 1px;
        margin: 0 auto;
        color: black;
    }
    .airbnb-embed-frame {
        position: relative;
        display: inline-block;
        width: 450px;
        height: 500px !important;
    }
    .page-container {
        .block {
            margin: 2vw auto;
            max-width: 70vw;
        }
        hr {
            width: 150px;
        }
    }
    .map-link {
        width: 80vw;
        height: 50vh;
        margin: 1rem 0;
    }
}