@mixin breakpoints() {

/************************breakpoints************************/
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .pg-fishermanssuites .article-container {
        overflow-x: hidden;
        .airbnb-embed-frame {
            width: 140%;
            margin-left: -20%;
            transform: scale(0.75);
            margin-bottom: -140px;
        }
    }
}

@media only screen and (orientation: landscape) {

    .site-header {
        height: 21vh;
    }
    .page-header {
        height: 25vh;
    }
    .hero {
        height: 55vh;
    }
    .home .hero {
        height: 79vh;
    }
}

@media only screen and (min-width: '600px') and (orientation: portrait) {

    .site-header {
        height: 12vh;
    }
    .page-header {
        height: 17vh;
    }
    .hero {
        height: 71vh;
    }
    .home {
        .hero {
            height: 86vh;
        }
        .block-container {
            margin: 1rem 1.3rem;
        }
    }
    .hamburger-helper, .close-button {
        display: none;
    }
    .menu-container-L {
        display: block;
    }
    .logo {
        left: 5vw;
    }

}

@media only screen and (min-width: '800px') and (orientation: landscape) {

    .home {
        .block-container {
            margin: 2rem 1.5rem;
        }
        .hero {
            height: 82vh;
        }
    }
    .site-header {
        height: 16vh;
    }
    .page-header {
        height: 21vh;
    }
    .hero {
        height: 63vh;
    }

    .hamburger-helper, .close-button {
        display: none;
    }
    .menu-container-L {
        display: block;
        font-size: 1.5rem;
    }
    .menu-container-L li {
        margin: 0 .7rem;
    }

}

@media only screen and (min-width: '1024px') and (orientation: portrait) {

    .site-header {
        height: 11vh;
    }
    .page-header {
        height: 14vh;
    }
    .hero {
        height: 75vh;
    }
    .home .hero {
        height: 90vh;
    }
    .menu-container-L {
        font-size: 1.5rem;
    }
    .menu-container-L li {
        margin: 0 .6rem;
    }
    .page-header h1 {
        font-size: 4rem;
    }
    .page-header hr {
        width: 190px;
    }
    .logo {
        width: 180px;
        left: 4.5vw;
    }

}

@media only screen and (min-width: '1300px') and (orientation: landscape) {

    .site-header {
        height: 16vh;
    }
    .page-header {
        height: 20vh;
    }
    .hero {
        height: 64vh;
    }
    .home .hero {
        height: 82vh;
    }
    .menu-container-L {
        font-size: 2rem;
    }
    .menu-container-L li {
        margin: 0 1rem;
    }
    .page-header h1 {
        font-size: 4rem;
    }
    .page-header hr {
        width: 190px;
    }
    .logo {
        width: 200px;
    }

}

@media only screen and (min-width: '1440px') {

}

}