@mixin carousel() {
    .cssgrid {
        .carousel-container {
            .grid-carousel {
                display: grid;
                position: relative;
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-template-rows: 80% 20% 80%;
            }
            input[type=radio] {
                display: none;
            }
            label {
                width: 90%;
                max-width: 100px;
                height: 20px;
                background-color: #c3c3c3;
                border-radius: 10px;
                margin: 10px auto;
                transition: background-color .5s;
                z-index: 10;
                grid-row: 2;
            }
            label[for=index1] {
                grid-column: 3;
            }
            label:hover {
                background-color: #756d6a;
            }
            .carousel-item {
                grid-column: 1 / span max;
                grid-row: 1 / 3;
                background-position: center;
                background-size: cover;
                opacity: 0;
                transition: opacity 1s;
            }
            input[type=radio]:checked+label {
                background-color: #756d6a;
                border: 2px solid #c3c3c3;
            }
            input[type=radio]:checked+label+.carousel-item {
                opacity: 1;
            }
        }
    }
    .no-cssgrid {
        .carousel-container {
            .grid-carousel {
                position: relative;
                height: 100%;
                width: 100%;

                label, input[type=radio] {
                    display: none;
                }
            }
        }
    }
}