@mixin footer-formatting() {

/***************************footer-formatting**************************/
.footer-nav-container {
    width: 100%;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin: 2rem 0;
}

.footer-nav-container a {
    font-size: 1.3rem;
    line-height: 1.6;
    color: black;
}

.site-footer {
    background-color: white;
}

.site-footer p {
    text-align: center;
}

.site-footer hr {
    width: 120px;
    border-width: 0px;
    border-top-width: 1px;
    margin: 0 auto;
    color: black;
}

.side-title {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    line-height: 1.6;
}

.social-icon-container {
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
}

}