@mixin header() {
    
/***********************header formatting**********************/
.main-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: -1;
    background-color: #ffffff;
    transition: opacity .5s, z-index .5s step-end;
}

#masthead {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.site-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: #22442c;
    z-index: 1;
    border-bottom: white solid 1.5px;
}

.site-title {
    position: absolute;
    top: 50%;
    left: 51vw;
    transform: translateY(-50%);
    font-family: 'Martel', serif;
    font-size: 2.6rem;
    color: white;
}

.page-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19vh;
    background-color: #22442c;
    border-top: white solid 1.5px;
}

.page-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-family: 'Martel', serif;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.page-header hr {
    position: absolute;
    top: 67%;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
    border-width: 1px;
    color: white;
}

.hamburger-helper {
    position: fixed;
    top: 4%;
    left: 80vw;
    z-index: 20;
    transition: opacity 1s, box-shadow .3s;
    padding: 8px;
    background-color: #22442c;
}

.hamburger-icon {
    position: relative;
    margin-bottom: -4px;
}

.hamburger-icon div {
    width: 37px;
    height: 8px;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: white;
}

.hero {
    position: relative;
    height: 67vh;
    width: 100vw;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 0;
    width: 140px;
    left: 8vw;
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #22442c;
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    z-index: 20;
}

.menu-container-L {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 73%;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.menu-container-L .menu {
    position: relative;
    top: 53%;
    transform: translateY(-50%);
}

.menu-container-L li {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 .5rem;
    line-height: 1.2;
}

.menu-content {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 0 7%;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.menu-content a {
    display: block;
    padding: 5.3vh 0;
    border-bottom: 1px solid white;

}

.open {
    width: 50%;
    height: 100vh;    
    box-shadow: -10px 0px 16px 0px rgba(60,60,60,0.65);
    transition: width .5s ease-in-out;

}

.fade-in {
    opacity: .5;
    z-index: 10;
    transition: opacity 1s, z-index 1s step-start;
}

.fade-out {
    opacity: 0;
    transition: opacity .25s;
}

.drop-shadow {
    //box-shadow: 0px 7px 14px 1px #616061
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: white;
}

//Home
.home {
    .hero {
        background-image: url("pics/home.jpg");
        background-position: center;
        height: 83vh;
    }
    .page-container {
        padding-top: 1rem;
        p {
            padding-bottom: 1rem;
        }
    }
}

//Attractions
.pg-attractions .hero {
    background-image: url("pics/attractions.jpg");
    background-position: center;
}

//About
.pg-about .hero {
    background-image: url("pics/about.jpg");
    background-position: center;
}

//Location
.pg-location .hero {
    background-image: url("pics/location.jpg");
    background-position: center;
}

//Fisherman's Suites
.pg-fishermanssuites {
    .hero {
        background-image: url("pics/suites.jpg");
        background-position: center;
    }

    .page-header hr {
        top: 85%;
    }

    .page-header h1 {
        font-size: 2.5rem;
    }
}

}