@mixin iOSFix() {

/***********************iOS Fix***************************/
@supports (-webkit-overflow-scrolling: touch) {

	@media (orientation: portrait) {
		#masthead {
			height: calc(100vh - 70px);
		}
		.hamburger-helper {
			top: 2%;
		}		
	}
	@media (orientation: landscape) {
		.hamburger-helper {
			top: 3%;
		}
	}
}

}