@mixin reset() {

	/********************************Reset******************************/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		// not allowing italics - font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
		font-size:62.5%;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/*Scaffolding*/
	html {
	box-sizing: border-box;
	}
	*, *:before, *:after {
	box-sizing: inherit;
	}
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	body {
		font-family: sans-serif;
	}
	a, a:active, a:focus, button, button:focus, button:active {
		outline: none;
		outline: 0;
		border:none;
		border:0;
	}
	input::-moz-focus-inner {
		border: 0;
	}
	a:link {
		text-decoration:none;
		color:white;
	}
	a:visited {
		text-decoration:none;
		color:white;
	}
	a:hover {
		text-decoration:none;
		color:white;
	}
	a:active {
		text-decoration:none;
		color:white;
	}
	p {
		padding-bottom: 10px;
	}

}