@import url("https://fonts.googleapis.com/css?family=Karla|Quicksand");
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url("https://fonts.googleapis.com/css?family=Limelight|Martel|Oleo+Script+Swash+Caps");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url('styles/boots-bones.css');
@import 'reset';
@import 'clear-floats';
@import 'header';
@import 'article-formatting';
@import 'footer-formatting';
@import 'breakpoints';
@import 'iOSFix';
@import 'carousel';

/*
Theme Name: Pier 39
Author: Columbia Design and Development (Dan and Elliott)
Description: Pier 39 theme.
Version: 1.0
License: GNU General Public License
*/

@include reset();

@include header();

@include article-formatting();

@include footer-formatting();

@include clear-floats();

@include breakpoints();

@include iOSFix();

@include carousel();