@import url("https://fonts.googleapis.com/css?family=Karla|Quicksand");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Limelight|Martel|Oleo+Script+Swash+Caps");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("styles/boots-bones.css");
/*
Theme Name: Pier 39
Author: Columbia Design and Development (Dan and Elliott)
Description: Pier 39 theme.
Version: 1.0
License: GNU General Public License
*/
/********************************Reset******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Scaffolding*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: sans-serif; }

a, a:active, a:focus, button, button:focus, button:active {
  outline: none;
  outline: 0;
  border: none;
  border: 0; }

input::-moz-focus-inner {
  border: 0; }

a:link {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: white; }

a:active {
  text-decoration: none;
  color: white; }

p {
  padding-bottom: 10px; }

/***********************header formatting**********************/
.main-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.main-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: -1;
  background-color: #ffffff;
  transition: opacity .5s, z-index .5s step-end; }

#masthead {
  position: relative;
  width: 100vw;
  height: 100vh; }

.site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: #22442c;
  z-index: 1;
  border-bottom: white solid 1.5px; }

.site-title {
  position: absolute;
  top: 50%;
  left: 51vw;
  transform: translateY(-50%);
  font-family: 'Martel', serif;
  font-size: 2.6rem;
  color: white; }

.page-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 19vh;
  background-color: #22442c;
  border-top: white solid 1.5px; }

.page-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Martel', serif;
  font-size: 3rem;
  color: white;
  text-align: center; }

.page-header hr {
  position: absolute;
  top: 67%;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
  border-width: 1px;
  color: white; }

.hamburger-helper {
  position: fixed;
  top: 4%;
  left: 80vw;
  z-index: 20;
  transition: opacity 1s, box-shadow .3s;
  padding: 8px;
  background-color: #22442c; }

.hamburger-icon {
  position: relative;
  margin-bottom: -4px; }

.hamburger-icon div {
  width: 37px;
  height: 8px;
  margin-bottom: 4px;
  border-radius: 10px;
  background-color: white; }

.hero {
  position: relative;
  height: 67vh;
  width: 100vw;
  background-size: cover; }

.logo {
  position: absolute;
  top: 0;
  width: 140px;
  left: 8vw; }

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: #22442c;
  transition: all .5s ease-in-out;
  overflow-x: hidden;
  z-index: 20; }

.menu-container-L {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 73%;
  height: 100%;
  font-size: 1.2rem;
  font-family: 'Abril Fatface', cursive;
  color: white; }

.menu-container-L .menu {
  position: relative;
  top: 53%;
  transform: translateY(-50%); }

.menu-container-L li {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 .5rem;
  line-height: 1.2; }

.menu-content {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 7%;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Abril Fatface', cursive;
  color: white; }

.menu-content a {
  display: block;
  padding: 5.3vh 0;
  border-bottom: 1px solid white; }

.open {
  width: 50%;
  height: 100vh;
  box-shadow: -10px 0px 16px 0px rgba(60, 60, 60, 0.65);
  transition: width .5s ease-in-out; }

.fade-in {
  opacity: .5;
  z-index: 10;
  transition: opacity 1s, z-index 1s step-start; }

.fade-out {
  opacity: 0;
  transition: opacity .25s; }

.drop-shadow {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  color: white; }

.home .hero {
  background-image: url("pics/home.jpg");
  background-position: center;
  height: 83vh; }
.home .page-container {
  padding-top: 1rem; }
  .home .page-container p {
    padding-bottom: 1rem; }

.pg-attractions .hero {
  background-image: url("pics/attractions.jpg");
  background-position: center; }

.pg-about .hero {
  background-image: url("pics/about.jpg");
  background-position: center; }

.pg-location .hero {
  background-image: url("pics/location.jpg");
  background-position: center; }

.pg-fishermanssuites .hero {
  background-image: url("pics/suites.jpg");
  background-position: center; }
.pg-fishermanssuites .page-header hr {
  top: 85%; }
.pg-fishermanssuites .page-header h1 {
  font-size: 2.5rem; }

/****************************article-formatting****************************/
.main-fluid {
  box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: white; }

.grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10vh;
  background-color: white; }

.grid-block {
  padding: 1.4rem 1.4rem 0; }

.home .block-container {
  margin: .5rem 0; }

.block-content {
  position: relative;
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  opacity: 0;
  box-shadow: 3px 3px 8px #464646;
  transition: top 1.2s, opacity 1s; }

.block-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; }

.block-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Martel', serif;
  font-size: 2rem;
  color: white;
  text-align: center; }

.block1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 5; }

.block1 .block-content {
  background-image: url("pics/rogue-beer-button.jpg"); }

.block1 .block-header {
  background-color: #fefe35db; }

.block2 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 5; }

.block2 .block-content {
  background-image: url("pics/historic-pier-button.jpg"); }

.block2 .block-header {
  background-color: #f0493fdb; }

.block3 {
  grid-column: 1 / span 4;
  grid-row: 11 / span 5; }

.block3 .block-content {
  background-image: url("pics/pier-night-button.jpg"); }

.block3 .block-header {
  background-color: #1e469aba; }

.block4 {
  grid-column: 1 / span 4;
  grid-row: 16 / span 5; }

.block4 .block-content {
  background-image: url("pics/suites-button.jpg"); }

.block4 .block-header {
  background-color: #009688db; }

.article-container {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  text-align: center; }

.logo-container {
  display: inline-block;
  margin: 1rem;
  text-align: center; }
  .logo-container .logo-img {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .logo-container h3 {
    display: inline-block;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    padding: .5rem 0; }

.block-container > * {
  position: relative;
  top: 30px;
  margin: 2rem 1rem;
  opacity: 0;
  transition: top 1.2s, opacity 1s; }

.block-container {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  vertical-align: top; }

.fade-up {
  top: 0;
  opacity: 1; }

.block {
  font-size: 1.4rem;
  line-height: 1.3;
  color: #433d3d; }

.block-title {
  font-size: 2.3rem;
  font-family: 'Martel', serif; }

.article-container hr {
  width: 35%;
  border-width: 0px;
  border-top-width: 1px;
  margin: 0 auto;
  color: black; }

.airbnb-embed-frame {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 500px !important; }

.page-container .block {
  margin: 2vw auto;
  max-width: 70vw; }
.page-container hr {
  width: 150px; }

.map-link {
  width: 80vw;
  height: 50vh;
  margin: 1rem 0; }

/***************************footer-formatting**************************/
.footer-nav-container {
  width: 100%;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin: 2rem 0; }

.footer-nav-container a {
  font-size: 1.3rem;
  line-height: 1.6;
  color: black; }

.site-footer {
  background-color: white; }

.site-footer p {
  text-align: center; }

.site-footer hr {
  width: 120px;
  border-width: 0px;
  border-top-width: 1px;
  margin: 0 auto;
  color: black; }

.side-title {
  font-size: 1.5rem;
  font-family: 'EB Garamond', serif;
  line-height: 1.6; }

.social-icon-container {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0; }

/*****************Clear Floats **************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/************************breakpoints************************/
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .pg-fishermanssuites .article-container {
    overflow-x: hidden; }
    .pg-fishermanssuites .article-container .airbnb-embed-frame {
      width: 140%;
      margin-left: -20%;
      transform: scale(0.75);
      margin-bottom: -140px; } }
@media only screen and (orientation: landscape) {
  .site-header {
    height: 21vh; }

  .page-header {
    height: 25vh; }

  .hero {
    height: 55vh; }

  .home .hero {
    height: 79vh; } }
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .site-header {
    height: 12vh; }

  .page-header {
    height: 17vh; }

  .hero {
    height: 71vh; }

  .home .hero {
    height: 86vh; }
  .home .block-container {
    margin: 1rem 1.3rem; }

  .hamburger-helper, .close-button {
    display: none; }

  .menu-container-L {
    display: block; }

  .logo {
    left: 5vw; } }
@media only screen and (min-width: 800px) and (orientation: landscape) {
  .home .block-container {
    margin: 2rem 1.5rem; }
  .home .hero {
    height: 82vh; }

  .site-header {
    height: 16vh; }

  .page-header {
    height: 21vh; }

  .hero {
    height: 63vh; }

  .hamburger-helper, .close-button {
    display: none; }

  .menu-container-L {
    display: block;
    font-size: 1.5rem; }

  .menu-container-L li {
    margin: 0 .7rem; } }
@media only screen and (min-width: 1024px) and (orientation: portrait) {
  .site-header {
    height: 11vh; }

  .page-header {
    height: 14vh; }

  .hero {
    height: 75vh; }

  .home .hero {
    height: 90vh; }

  .menu-container-L {
    font-size: 1.5rem; }

  .menu-container-L li {
    margin: 0 .6rem; }

  .page-header h1 {
    font-size: 4rem; }

  .page-header hr {
    width: 190px; }

  .logo {
    width: 180px;
    left: 4.5vw; } }
@media only screen and (min-width: 1300px) and (orientation: landscape) {
  .site-header {
    height: 16vh; }

  .page-header {
    height: 20vh; }

  .hero {
    height: 64vh; }

  .home .hero {
    height: 82vh; }

  .menu-container-L {
    font-size: 2rem; }

  .menu-container-L li {
    margin: 0 1rem; }

  .page-header h1 {
    font-size: 4rem; }

  .page-header hr {
    width: 190px; }

  .logo {
    width: 200px; } }
/***********************iOS Fix***************************/
@supports (-webkit-overflow-scrolling: touch) {
  @media (orientation: portrait) {
    #masthead {
      height: calc(100vh - 70px); }

    .hamburger-helper {
      top: 2%; } }
  @media (orientation: landscape) {
    .hamburger-helper {
      top: 3%; } } }
.cssgrid .carousel-container .grid-carousel {
  display: grid;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  grid-template-rows: 80% 20% 80%; }
.cssgrid .carousel-container input[type=radio] {
  display: none; }
.cssgrid .carousel-container label {
  width: 90%;
  max-width: 100px;
  height: 20px;
  background-color: #c3c3c3;
  border-radius: 10px;
  margin: 10px auto;
  transition: background-color .5s;
  z-index: 10;
  grid-row: 2; }
.cssgrid .carousel-container label[for=index1] {
  grid-column: 3; }
.cssgrid .carousel-container label:hover {
  background-color: #756d6a; }
.cssgrid .carousel-container .carousel-item {
  grid-column: 1 / span max;
  grid-row: 1 / 3;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s; }
.cssgrid .carousel-container input[type=radio]:checked + label {
  background-color: #756d6a;
  border: 2px solid #c3c3c3; }
.cssgrid .carousel-container input[type=radio]:checked + label + .carousel-item {
  opacity: 1; }

.no-cssgrid .carousel-container .grid-carousel {
  position: relative;
  height: 100%;
  width: 100%; }
  .no-cssgrid .carousel-container .grid-carousel label, .no-cssgrid .carousel-container .grid-carousel input[type=radio] {
    display: none; }

/*# sourceMappingURL=style.css.map */
